
.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5rem 5rem 5rem;
}


@media (max-width: 768px) and (orientation: portrait) {

  .info-row {
    flex-direction: column;
  }
}