.info-boxes-container {
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
}

.heating-info {
  display: inline-block;
  padding: 10px;

  & > * {
    padding: 0 25px;
  }
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > * {
    padding: 1rem;
    margin: 0.5rem;

    flex: 1;
    text-align: center;
    align-content: center;
  }
}


@media (max-width: 768px) or (orientation: portrait) {

  .info-row {
    flex-direction: column;
  }
}