h2 {
  text-align: center;
}

.cost-calculator-estimates {
  margin: 2rem;
  text-align: center;

}

.cost-calculator-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .cost-calculator-result {
    align-content: center;
    width: 200px;
  }
}

.cost-calculator-fields {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 5px 0;
  }

  label {
    width: 18rem;
    display: flex;
    justify-content: space-between;

    input {
      width: 3rem;
    }
  }

}